<h1>Elixir</h1>
<%= link_to('Create a New Pattern', new_pattern_path) %>

<ul>
  <% @patterns.each do |pattern| %>
    <li>
      <p><%= "#{ pattern.name }" %></p>
      <%= link_to('Show Pattern', pattern_path(pattern)) %>
    </li>
  <% end %>
</ul>

<div id='rainbowish'></div>