<h1>Elixir</h1>
<%= link_to('Create a New Pattern', new_pattern_path) %>

<ul>
  <% @patterns.each do |pattern| %>
    <li>
      <%= link_to("#{ pattern.name }" , root_path) %>
      <%= link_to('Show Pattern', pattern_path(pattern)) %>
    </li>
  <% end %>
</ul>

<!-- connect colour inputs with rainbow -->
<div id='rainbowish'></div>