// Place all the styles related to the patterns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*------------------------ GENERAL ------------------------*/

* {
	font-family: 'Hind', sans-serif;
	letter-spacing: 2px;
	list-style-type: none;
	text-decoration: none;
	text-align: center;
}

h2 {
  font-size: 8em;
  margin: 40px 0;
}

h1, h2 {
	font-family: 'Raleway', sans-serif;
	color: #9757a6;
}

ul {
  padding: 0;
}

/*------------------------ LINKS ------------------------*/

a {
	padding: 0px 3px;
	border: 2px solid;
}

/* unvisited link + visited link */
a:link,
a:visited {
    color: #5d58a7;
}

/* mouse over link */
a:hover {
    color: #a7587a;
}

/* selected link */
a:active {
    color: #66a758;
}

/*------------------------ RAINBOWS ------------------------*/

#rainbowish {
  width: 100%;
  margin-top: 50px;
}

div.color{
  display:inline-block;
  width:20px;
  height:20px;
}

