// Place all the styles related to the patterns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*------------------------ GENERAL ------------------------*/

* {
	font-family: 'Hind', sans-serif;
	letter-spacing: 2px;
	list-style-type: none;
	text-decoration: none;
	text-align: center;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: #9757a6;
}

/*------------------------ LINKS ------------------------*/

a {
	padding: 0px 3px;
	border: 2px solid;
}

/* unvisited link + visited link */
a:link,
a:visited {
    color: #5d58a7;
}

/* mouse over link */
a:hover {
    color: #a7587a;
}

/* selected link */
a:active {
    color: #66a758;
}

/*------------------------ RAINBOWS ------------------------*/

/* break this in to only 3 or make user enter 5 colours 
	 want to have a delay on each div so they go at different times
	 also add opacity value for more colour range and texture*/
@keyframes testing {
    0%   {background-color: #cc0f58; }
    25%  {background-color: #58cc0f; }
    50%  {background-color: #0f58cc; }
    75%  {background-color: #f03da1; }
    100% {background-color: #000; }
}

#rainbowish {
  width: 100%;
}

div.color{
  display:inline-block;
  width:20px;
  height:20px;
  animation-name: testing;
  animation-duration: 10s;
}

